In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("train_Df64byy.csv")

In [3]:
df.head(15)

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
0,1,C3,3213,Rented,Individual,36,36,No,X1,14+,3.0,22,11628.0,0
1,2,C5,1117,Owned,Joint,75,22,No,X2,NaN,NaN,22,30510.0,0
2,3,C5,3732,Owned,Individual,32,32,No,NaN,1.0,1.0,19,7450.0,1
3,4,C24,4378,Owned,Joint,52,48,No,X1,14+,3.0,19,17780.0,0
4,5,C8,2190,Rented,Individual,44,44,No,X2,3.0,1.0,16,10404.0,0
5,6,C9,1785,Rented,Individual,52,52,No,X2,5.0,1.0,22,15264.0,1
6,7,C3,679,Owned,Individual,28,28,No,NaN,NaN,NaN,17,10640.0,0
7,8,C1,3175,Owned,Joint,75,73,Yes,X4,9.0,4.0,17,29344.0,1
8,9,C15,3497,Owned,Joint,52,43,No,X1,14.0,3.0,1,27283.2,0
9,10,C1,530,Owned,Joint,59,26,Yes,NaN,7.0,4.0,18,21100.8,1
10,11,C28,600,Owned,Individual,21,21,No,X2,NaN,NaN,21,4068.0,1
11,12,C27,1097,Owned,Joint,59,47,Yes,X3,3.0,3.0,13,25043.2,0
12,13,C7,3453,Owned,Individual,66,66,No,NaN,1.0,2.0,20,17192.0,1
13,14,C5,900,Rented,Individual,20,20,No,X2,NaN,NaN,18,8364.0,0
14,15,C20,1911,Rented,Individual,27,27,No,X3,2.0,3.0,9,9440.0,0

In [4]:
df.isnull().sum()

ID                             0
City_Code                      0
Region_Code                    0
Accomodation_Type              0
Reco_Insurance_Type            0
Upper_Age                      0
Lower_Age                      0
Is_Spouse                      0
Health Indicator           11691
Holding_Policy_Duration    20251
Holding_Policy_Type        20251
Reco_Policy_Cat                0
Reco_Policy_Premium            0
Response                       0
dtype: int64

In [5]:
df.shape

(50882, 14)

# data cleaning

In [6]:
df['Health Indicator'] = df['Health Indicator'].fillna('X0')

In [7]:
df.head(10)

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
0,1,C3,3213,Rented,Individual,36,36,No,X1,14+,3.0,22,11628.0,0
1,2,C5,1117,Owned,Joint,75,22,No,X2,NaN,NaN,22,30510.0,0
2,3,C5,3732,Owned,Individual,32,32,No,X0,1.0,1.0,19,7450.0,1
3,4,C24,4378,Owned,Joint,52,48,No,X1,14+,3.0,19,17780.0,0
4,5,C8,2190,Rented,Individual,44,44,No,X2,3.0,1.0,16,10404.0,0
5,6,C9,1785,Rented,Individual,52,52,No,X2,5.0,1.0,22,15264.0,1
6,7,C3,679,Owned,Individual,28,28,No,X0,NaN,NaN,17,10640.0,0
7,8,C1,3175,Owned,Joint,75,73,Yes,X4,9.0,4.0,17,29344.0,1
8,9,C15,3497,Owned,Joint,52,43,No,X1,14.0,3.0,1,27283.2,0
9,10,C1,530,Owned,Joint,59,26,Yes,X0,7.0,4.0,18,21100.8,1

In [8]:
df['Holding_Policy_Type'] = df['Holding_Policy_Type'].fillna(0.0)

In [9]:
df.head(15)

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
0,1,C3,3213,Rented,Individual,36,36,No,X1,14+,3.0,22,11628.0,0
1,2,C5,1117,Owned,Joint,75,22,No,X2,NaN,0.0,22,30510.0,0
2,3,C5,3732,Owned,Individual,32,32,No,X0,1.0,1.0,19,7450.0,1
3,4,C24,4378,Owned,Joint,52,48,No,X1,14+,3.0,19,17780.0,0
4,5,C8,2190,Rented,Individual,44,44,No,X2,3.0,1.0,16,10404.0,0
5,6,C9,1785,Rented,Individual,52,52,No,X2,5.0,1.0,22,15264.0,1
6,7,C3,679,Owned,Individual,28,28,No,X0,NaN,0.0,17,10640.0,0
7,8,C1,3175,Owned,Joint,75,73,Yes,X4,9.0,4.0,17,29344.0,1
8,9,C15,3497,Owned,Joint,52,43,No,X1,14.0,3.0,1,27283.2,0
9,10,C1,530,Owned,Joint,59,26,Yes,X0,7.0,4.0,18,21100.8,1
10,11,C28,600,Owned,Individual,21,21,No,X2,NaN,0.0,21,4068.0,1
11,12,C27,1097,Owned,Joint,59,47,Yes,X3,3.0,3.0,13,25043.2,0
12,13,C7,3453,Owned,Individual,66,66,No,X0,1.0,2.0,20,17192.0,1
13,14,C5,900,Rented,Individual,20,20,No,X2,NaN,0.0,18,8364.0,0
14,15,C20,1911,Rented,Individual,27,27,No,X3,2.0,3.0,9,9440.0,0

In [10]:
df["Holding_Policy_Duration"] = df["Holding_Policy_Duration"].fillna("0.0")

In [11]:
df.head(15)

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
0,1,C3,3213,Rented,Individual,36,36,No,X1,14+,3.0,22,11628.0,0
1,2,C5,1117,Owned,Joint,75,22,No,X2,0.0,0.0,22,30510.0,0
2,3,C5,3732,Owned,Individual,32,32,No,X0,1.0,1.0,19,7450.0,1
3,4,C24,4378,Owned,Joint,52,48,No,X1,14+,3.0,19,17780.0,0
4,5,C8,2190,Rented,Individual,44,44,No,X2,3.0,1.0,16,10404.0,0
5,6,C9,1785,Rented,Individual,52,52,No,X2,5.0,1.0,22,15264.0,1
6,7,C3,679,Owned,Individual,28,28,No,X0,0.0,0.0,17,10640.0,0
7,8,C1,3175,Owned,Joint,75,73,Yes,X4,9.0,4.0,17,29344.0,1
8,9,C15,3497,Owned,Joint,52,43,No,X1,14.0,3.0,1,27283.2,0
9,10,C1,530,Owned,Joint,59,26,Yes,X0,7.0,4.0,18,21100.8,1
10,11,C28,600,Owned,Individual,21,21,No,X2,0.0,0.0,21,4068.0,1
11,12,C27,1097,Owned,Joint,59,47,Yes,X3,3.0,3.0,13,25043.2,0
12,13,C7,3453,Owned,Individual,66,66,No,X0,1.0,2.0,20,17192.0,1
13,14,C5,900,Rented,Individual,20,20,No,X2,0.0,0.0,18,8364.0,0
14,15,C20,1911,Rented,Individual,27,27,No,X3,2.0,3.0,9,9440.0,0

In [12]:
g=df.groupby("City_Code")

In [13]:
g.sum().sort_values(by = "City_Code")

,ID,Region_Code,Upper_Age,Lower_Age,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
City_Code,,,,,,,,
C1,227605754,12835747,466456,445314,14323.0,145754,149560977.0,2208
C10,41625548,2042805,68105,65231,2250.0,25993,22029201.6,364
C11,29074713,1859902,50220,47295,1546.0,19253,15688696.0,279
C12,22210548,1271994,37231,35630,1069.0,12385,11834062.6,198
C13,25869314,1537701,42580,40604,1373.0,13241,12669700.2,255
C14,19580883,1587566,33751,32700,1130.0,11882,10052716.2,176
C15,30202227,2261494,54903,51018,1600.0,18698,18269495.0,253
C16,28831567,1777107,42277,38828,1367.0,18235,13568070.2,269
C17,28929187,2219924,49064,46596,1269.0,14667,15010698.2,265
C18,20593942,1508293,34400,32377,843.0,11981,11217238.0,190
C19,21129626,1868816,41359,39487,881.0,9454,12881540.0,208
C2,199558549,14691738,361021,344883,14069.0,120034,117544944.6,1893
C20,23381836,1365842,38729,37237,1584.0,14861,11466562.6,212
C21,17619247,3194616,30533,28847,979.0,10532,9500722.4,155
C22,12885744,504450,22099,20902,775.0,8673,6930716.2,119
C23,15530203,470302,23823,22889,823.0,9889,7296983.4,156
C24,14021270,1348446,26219,24356,766.0,7046,8381062.4,130
C25,8813658,837631,14337,13760,506.0,5253,4181593.0,88
C26,12562663,871887,23379,22556,720.0,7241,7315387.4,108
C27,7578881,699508,12257,11722,427.0,3753,3805983.6,76
C28,7222856,806248,12087,11526,373.0,3711,3904719.4,67
C29,9591735,558769,14939,14440,553.0,4939,4329351.8,91
C3,124740036,7769458,210217,200548,6851.0,75879,67060146.0,1161
C30,1611392,109558,3028,2854,103.0,898,981816.8,18
C31,441264,80481,513,513,27.0,245,149454.0,2
C32,3956537,420216,6594,6287,239.0,1985,2000994.6,46
C33,7282001,647406,11670,11166,329.0,3774,3591818.4,71
C34,3027594,66768,5031,4755,154.0,1586,1643621.4,36
C35,1364357,184045,2281,2238,84.0,749,658983.4,16
C36,937513,29641,1574,1516,53.0,684,512401.6,5
C4,93549682,5852892,152977,147746,4927.0,50266,45940908.0,889
C5,34698008,2559779,55773,52892,1788.0,18254,18187581.4,314
C6,48564169,2854147,80258,77052,2490.0,31323,24256947.8,460
C7,48058629,3691137,87327,80227,2585.0,31099,27434708.2,484
C8,46257925,4230026,76357,72916,2751.0,26573,24189991.0,437
C9,55605345,3551415,89008,85731,3109.0,28301,27657953.0,510

In [14]:
df.isnull().sum()

ID                         0
City_Code                  0
Region_Code                0
Accomodation_Type          0
Reco_Insurance_Type        0
Upper_Age                  0
Lower_Age                  0
Is_Spouse                  0
Health Indicator           0
Holding_Policy_Duration    0
Holding_Policy_Type        0
Reco_Policy_Cat            0
Reco_Policy_Premium        0
Response                   0
dtype: int64

In [15]:
df

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
0,1,C3,3213,Rented,Individual,36,36,No,X1,14+,3.0,22,11628.0,0
1,2,C5,1117,Owned,Joint,75,22,No,X2,0.0,0.0,22,30510.0,0
2,3,C5,3732,Owned,Individual,32,32,No,X0,1.0,1.0,19,7450.0,1
3,4,C24,4378,Owned,Joint,52,48,No,X1,14+,3.0,19,17780.0,0
4,5,C8,2190,Rented,Individual,44,44,No,X2,3.0,1.0,16,10404.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50877,50878,C4,845,Rented,Individual,22,22,No,X3,0.0,0.0,18,7704.0,0
50878,50879,C5,4188,Rented,Individual,27,27,No,X3,7.0,3.0,4,5408.0,0
50879,50880,C1,442,Rented,Individual,63,63,No,X2,14+,1.0,12,11374.0,0
50880,50881,C1,4,Owned,Joint,71,49,No,X2,2.0,2.0,16,28179.2,1
50881,50882,C3,3866,Rented,Individual,24,24,No,X3,2.0,3.0,18,11424.0,0

In [16]:
city = list(df["City_Code"])
res = [] 
[res.append(x) for x in city if x not in res]
print(res)

['C3', 'C5', 'C24', 'C8', 'C9', 'C1', 'C15', 'C28', 'C27', 'C7', 'C20', 'C25', 'C4', 'C2', 'C34', 'C10', 'C17', 'C18', 'C16', 'C29', 'C33', 'C26', 'C19', 'C6', 'C12', 'C13', 'C11', 'C14', 'C22', 'C23', 'C21', 'C36', 'C32', 'C30', 'C35', 'C31']

In [17]:
lst = []
for i in res:
    lst.append(i[1:len(i)])
print(lst)

['3', '5', '24', '8', '9', '1', '15', '28', '27', '7', '20', '25', '4', '2', '34', '10', '17', '18', '16', '29', '33', '26', '19', '6', '12', '13', '11', '14', '22', '23', '21', '36', '32', '30', '35', '31']

In [18]:
df["City_Code"] = df["City_Code"].replace(res, lst)

In [19]:
df.head()

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
0,1,3,3213,Rented,Individual,36,36,No,X1,14+,3.0,22,11628.0,0
1,2,5,1117,Owned,Joint,75,22,No,X2,0.0,0.0,22,30510.0,0
2,3,5,3732,Owned,Individual,32,32,No,X0,1.0,1.0,19,7450.0,1
3,4,24,4378,Owned,Joint,52,48,No,X1,14+,3.0,19,17780.0,0
4,5,8,2190,Rented,Individual,44,44,No,X2,3.0,1.0,16,10404.0,0

In [20]:
df["Accomodation_Type"] = df["Accomodation_Type"].replace(['Rented','Owned'],[1,2])

In [21]:
df.head()

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
0,1,3,3213,1,Individual,36,36,No,X1,14+,3.0,22,11628.0,0
1,2,5,1117,2,Joint,75,22,No,X2,0.0,0.0,22,30510.0,0
2,3,5,3732,2,Individual,32,32,No,X0,1.0,1.0,19,7450.0,1
3,4,24,4378,2,Joint,52,48,No,X1,14+,3.0,19,17780.0,0
4,5,8,2190,1,Individual,44,44,No,X2,3.0,1.0,16,10404.0,0

In [22]:
df["Reco_Insurance_Type"] = df["Reco_Insurance_Type"].replace(['Individual','Joint'],[1,2])

In [23]:
df.head()

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
0,1,3,3213,1,1,36,36,No,X1,14+,3.0,22,11628.0,0
1,2,5,1117,2,2,75,22,No,X2,0.0,0.0,22,30510.0,0
2,3,5,3732,2,1,32,32,No,X0,1.0,1.0,19,7450.0,1
3,4,24,4378,2,2,52,48,No,X1,14+,3.0,19,17780.0,0
4,5,8,2190,1,1,44,44,No,X2,3.0,1.0,16,10404.0,0

In [24]:
df["Is_Spouse"] = df["Is_Spouse"].replace(['No','Yes'],[1,2])

In [25]:
df.head()

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
0,1,3,3213,1,1,36,36,1,X1,14+,3.0,22,11628.0,0
1,2,5,1117,2,2,75,22,1,X2,0.0,0.0,22,30510.0,0
2,3,5,3732,2,1,32,32,1,X0,1.0,1.0,19,7450.0,1
3,4,24,4378,2,2,52,48,1,X1,14+,3.0,19,17780.0,0
4,5,8,2190,1,1,44,44,1,X2,3.0,1.0,16,10404.0,0

In [26]:
g=df.groupby("Health Indicator")
g.sum()

,ID,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
Health Indicator,,,,,,,,,,,
X0,296327300,20249249,18177,14040,526027,501487,13607,17316.0,175850,165665911.8,2738
X1,332115781,21952926,19647,15339,575395,548843,14818,18198.0,197246,180106637.0,3176
X2,261537983,18034252,16324,12625,469980,448726,12282,15460.0,157094,149514867.8,2491
X3,172841678,11758640,9964,7882,293970,278873,7568,8842.0,100642,91657599.8,1599
X4,147164342,10222081,9368,7128,261080,249093,6943,9575.0,88305,84160010.4,1396
X5,43381508,3109560,2922,2256,82835,78765,2211,3168.0,26802,27632518.4,408
X6,32469604,2237297,1865,1522,56527,53156,1453,1556.0,18174,17482935.6,307
X7,4911669,326198,341,259,10007,9543,252,381.0,3225,3487796.0,62
X8,2059630,173368,126,99,3699,3444,95,129.0,935,1124896.8,18
X9,1704908,104184,99,78,2857,2709,75,91.0,818,874573.8,14

In [27]:
Indiacator = list(df["Health Indicator"])
res1 = [] 
[res1.append(x) for x in Indiacator if x not in res1]
print(res1)

['X1', 'X2', 'X0', 'X4', 'X3', 'X6', 'X5', 'X8', 'X7', 'X9']

In [28]:
lst1 = []
for i in  range(0,10):
    lst1.append(i)
print(lst1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
df["Health Indicator"] = df["Health Indicator"].replace(res1,lst1)

In [30]:
df.head()

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
0,1,3,3213,1,1,36,36,1,0,14+,3.0,22,11628.0,0
1,2,5,1117,2,2,75,22,1,1,0.0,0.0,22,30510.0,0
2,3,5,3732,2,1,32,32,1,2,1.0,1.0,19,7450.0,1
3,4,24,4378,2,2,52,48,1,0,14+,3.0,19,17780.0,0
4,5,8,2190,1,1,44,44,1,1,3.0,1.0,16,10404.0,0

In [31]:
g=df.groupby("Holding_Policy_Duration")
g.sum()

,ID,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
Holding_Policy_Duration,,,,,,,,,,,,
0.0,514917010,35176771,29358,23458,784542,753466,22852,38342,0.0,303924,249847703.0,4839
1.0,113902680,7416995,6660,5383,191155,182370,5215,8655,9826.0,66321,61507190.2,997
10.0,20780728,1429653,1381,1041,43960,41359,994,1569,2097.0,12303,13852061.2,222
11.0,13883709,937328,966,708,29919,28143,681,1036,1400.0,8609,9402118.2,137
12.0,12587310,886932,890,652,28240,26677,624,971,1313.0,7895,8783370.0,130
13.0,13740675,864987,889,654,28417,26939,628,1044,1264.0,7822,8793509.6,138
14+,109092140,7782728,7712,5570,256679,241227,5344,8537,11547.0,67766,79470252.4,1087
14.0,11890407,826834,828,594,26737,25049,567,950,1174.0,6970,8356045.0,115
2.0,109697586,7255563,6432,5102,185837,177894,4943,8102,9857.0,63021,59201989.2,1011
3.0,91159760,6128473,5550,4342,161925,154349,4207,6907,8506.0,53611,51519066.8,832
4.0,70943543,4925851,4387,3394,129106,122508,3282,5227,6803.0,41965,40868354.4,667
5.0,60026666,4080398,3814,2913,113219,107052,2792,4540,5728.0,36256,35761212.2,563
6.0,48168811,3323904,3140,2312,93375,89046,2246,3585,4799.0,29558,29025559.8,445
7.0,41872003,2839693,2732,2040,82829,78346,1963,3214,4196.0,25686,25734130.0,423
8.0,33634700,2337549,2214,1668,67146,63783,1620,2583,3335.0,20033,21167544.6,338
9.0,28216675,1954096,1880,1397,59291,56431,1346,2172,2871.0,17351,18417640.8,265

In [32]:
df["Holding_Policy_Duration"] = df["Holding_Policy_Duration"].replace("14+","15")

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50882 entries, 0 to 50881
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       50882 non-null  int64
 1   City_Code                50882 non-null  object
 2   Region_Code              50882 non-null  int64
 3   Accomodation_Type        50882 non-null  int64
 4   Reco_Insurance_Type      50882 non-null  int64
 5   Upper_Age                50882 non-null  int64
 6   Lower_Age                50882 non-null  int64
 7   Is_Spouse                50882 non-null  int64
 8   Health Indicator         50882 non-null  int64
 9   Holding_Policy_Duration  50882 non-null  object
 10  Holding_Policy_Type      50882 non-null  float64
 11  Reco_Policy_Cat          50882 non-null  int64
 12  Reco_Policy_Premium      50882 non-null  float64
 13  Response                 50882 non-null  int64
dtypes: float64(2), int64(10), object(2)
memory usage: 5.4+ MB

In [34]:
df = df.drop(['City_Code', 'Region_Code', 'Upper_Age','Holding_Policy_Duration'], axis=1)

In [35]:
columns =  list(df.columns)
columns

['ID',
 'Accomodation_Type',
 'Reco_Insurance_Type',
 'Lower_Age',
 'Is_Spouse',
 'Health Indicator',
 'Holding_Policy_Type',
 'Reco_Policy_Cat',
 'Reco_Policy_Premium',
 'Response']

In [36]:
features = columns[0:len(columns)-1]

In [37]:
features

['ID',
 'Accomodation_Type',
 'Reco_Insurance_Type',
 'Lower_Age',
 'Is_Spouse',
 'Health Indicator',
 'Holding_Policy_Type',
 'Reco_Policy_Cat',
 'Reco_Policy_Premium']

In [38]:
from sklearn.preprocessing import StandardScaler
scaler =  StandardScaler()

In [39]:
x = scaler.fit_transform(df[features])
x

array([[-1.73201677, -1.10404602, -0.50520285, ...,  1.06732419,
         1.08582966, -0.38785222],
       [-1.73194869,  0.90575934,  1.97940293, ..., -1.02330546,
         1.08582966,  2.47739376],
       [-1.73188061,  0.90575934, -0.50520285, ..., -0.32642891,
         0.61268834, -1.02184214],
       ...,
       [ 1.73188061, -1.10404602, -0.50520285, ..., -0.32642891,
        -0.49130806, -0.42639541],
       [ 1.73194869,  0.90575934,  1.97940293, ...,  0.37044764,
         0.13954703,  2.1237069 ],
       [ 1.73201677, -1.10404602, -0.50520285, ...,  1.06732419,
         0.45497457, -0.41880817]])

In [40]:
y = df.iloc[:,-1].values
y

array([0, 0, 1, ..., 0, 1, 0], dtype=int64)

# split 80 train and 20 for test

In [41]:
from sklearn.model_selection import train_test_split

In [42]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.20, random_state = 1)

x_train = df_train[features]
y_train = df_train['Response']
x_test = df_test[features]
y_test = df_test['Response']

# Decision Trees

In [43]:
from sklearn import tree

In [44]:
dtr = tree.DecisionTreeRegressor()

In [45]:
dtc = tree.DecisionTreeClassifier(criterion = 'entropy',random_state = 0)

# GridSearchCV

In [46]:
param_dict={
    "criterion" : ["gini","entropy"]
    }

In [47]:
from sklearn.model_selection import GridSearchCV

In [48]:
grid = GridSearchCV(dtc, param_grid = param_dict, cv = 15, n_jobs = -1)
grid.fit(x_train,y_train)

GridSearchCV(cv=15,
             estimator=DecisionTreeClassifier(criterion='entropy',
                                              random_state=0),
             n_jobs=-1, param_grid={'criterion': ['gini', 'entropy']})

In [49]:
dtc.fit(x_train,y_train)

DecisionTreeClassifier(criterion='entropy', random_state=0)

In [50]:
dtr.fit(x_train,y_train)

DecisionTreeRegressor()

# XGBOOST Classifier

In [51]:
pip install xgboost

Requirement already satisfied: xgboost in c:\users\prith\anaconda3\lib\site-packages (1.3.3)
Requirement already satisfied: numpy in c:\users\prith\anaconda3\lib\site-packages (from xgboost) (1.19.2)
Requirement already satisfied: scipy in c:\users\prith\anaconda3\lib\site-packages (from xgboost) (1.5.2)
Note: you may need to restart the kernel to use updated packages.

In [52]:
from xgboost import XGBClassifier

In [53]:
xgbc = XGBClassifier()

In [54]:
xgbc.fit(x_train,y_train)

C:\Users\prith\anaconda3\lib\site-packages\xgboost\sklearn.py:888: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[13:18:01] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=8, num_parallel_tree=1, random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

# Testing and accuracy of the model

In [55]:
predict = dtc.predict(x_test)

In [56]:
predict

array([0, 0, 0, ..., 0, 1, 0], dtype=int64)

In [57]:
p1 = dtr.predict(x_test)

In [58]:
p1

array([0., 0., 1., ..., 0., 0., 1.])

In [59]:
p2=grid.predict(x_test)

In [60]:
from sklearn.metrics import accuracy_score
print("Accuracy:" + str(accuracy_score(y_test,predict)))
print("Accuracy01:" + str(accuracy_score(y_test,p1)))
print("Accuracy02:" + str(accuracy_score(y_test,p2)))

Accuracy:0.6498968261766729
Accuracy01:0.6496020438243097
Accuracy02:0.650191608529036

# XGBC AND Random Forest

In [61]:
p3 = xgbc.predict(x_test)

In [62]:
print("Accuracy02:" + str(accuracy_score(y_test,p3)))

Accuracy02:0.7510071730372408

# test data set

In [63]:
test_df = pd.read_csv("test_YCcRUnU.csv")

In [64]:
test_df.head()

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium
0,50883,C1,156,Owned,Individual,30,30,No,NaN,6.0,3.0,5,11934.0
1,50884,C4,7,Owned,Joint,69,68,Yes,X1,3.0,3.0,18,32204.8
2,50885,C1,564,Rented,Individual,28,28,No,X3,2.0,4.0,17,9240.0
3,50886,C3,1177,Rented,Individual,23,23,No,X3,3.0,3.0,18,9086.0
4,50887,C1,951,Owned,Individual,75,75,No,X3,NaN,NaN,5,22534.0

In [65]:
test_df['Health Indicator'] = test_df['Health Indicator'].fillna('X0')

In [66]:
test_df['Holding_Policy_Type'] = test_df['Holding_Policy_Type'].fillna(0.0)

In [67]:
test_df["Holding_Policy_Duration"] = test_df["Holding_Policy_Duration"].fillna("0.0")

In [68]:
city = list(test_df["City_Code"])
r1 = [] 
[r1.append(x) for x in city if x not in r1]
print(r1)

['C1', 'C4', 'C3', 'C2', 'C13', 'C18', 'C16', 'C17', 'C11', 'C7', 'C21', 'C34', 'C14', 'C8', 'C12', 'C6', 'C10', 'C9', 'C23', 'C32', 'C26', 'C15', 'C24', 'C20', 'C19', 'C5', 'C28', 'C30', 'C25', 'C29', 'C27', 'C33', 'C22', 'C36', 'C35', 'C31']

In [69]:
l1 = []
for i in r1:
    l1.append(i[1:len(i)])
print(l1)

['1', '4', '3', '2', '13', '18', '16', '17', '11', '7', '21', '34', '14', '8', '12', '6', '10', '9', '23', '32', '26', '15', '24', '20', '19', '5', '28', '30', '25', '29', '27', '33', '22', '36', '35', '31']

In [70]:
test_df["City_Code"] = test_df["City_Code"].replace(r1, l1)

In [71]:
test_df["Accomodation_Type"] = test_df["Accomodation_Type"].replace(['Rented','Owned'],[1,2])

In [72]:
test_df["Reco_Insurance_Type"] = test_df["Reco_Insurance_Type"].replace(['Individual','Joint'],[1,2])

In [73]:
test_df["Is_Spouse"] = test_df["Is_Spouse"].replace(['No','Yes'],[1,2])

In [74]:
I = list(test_df["Health Indicator"])
res1 = [] 
[res1.append(x) for x in Indiacator if x not in res1]
print(res1)

['X1', 'X2', 'X0', 'X4', 'X3', 'X6', 'X5', 'X8', 'X7', 'X9']

In [75]:
lst1 = []
for i in  range(0,10):
    lst1.append(i)
print(lst1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [76]:
test_df["Health Indicator"] = test_df["Health Indicator"].replace(res1,lst1)

In [77]:
test_df["Holding_Policy_Duration"] = test_df["Holding_Policy_Duration"].replace("14+","15")

In [78]:
test_df.head()

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium
0,50883,1,156,2,1,30,30,1,2,6.0,3.0,5,11934.0
1,50884,4,7,2,2,69,68,2,0,3.0,3.0,18,32204.8
2,50885,1,564,1,1,28,28,1,4,2.0,4.0,17,9240.0
3,50886,3,1177,1,1,23,23,1,4,3.0,3.0,18,9086.0
4,50887,1,951,2,1,75,75,1,4,0.0,0.0,5,22534.0

In [79]:
test_df = test_df.drop(['City_Code', 'Region_Code', 'Upper_Age','Holding_Policy_Duration'], axis=1)

In [80]:
from sklearn.preprocessing import StandardScaler
scaler =  StandardScaler()

In [81]:
test_x = scaler.fit_transform(test_df[features])
test_x

array([[-1.73197138,  0.89641322, -0.50737028, ...,  1.05725231,
        -1.60858462, -0.35185601],
       [-1.73181251,  0.89641322,  1.97094714, ...,  1.05725231,
         0.45403639,  2.76776184],
       [-1.73165364, -1.11555695, -0.50737028, ...,  1.75161051,
         0.29537324, -0.76645487],
       ...,
       [ 1.73165364,  0.89641322, -0.50737028, ..., -1.02582229,
        -2.24323724,  0.55644482],
       [ 1.73181251, -1.11555695, -0.50737028, ..., -0.33146409,
         0.61269955, -0.40818236],
       [ 1.73197138,  0.89641322, -0.50737028, ...,  0.36289411,
        -1.92591093,  1.35732547]])

In [82]:
predict = dtc.predict(test_df)

In [83]:
print(predict)

[1 0 1 ... 0 0 1]

In [84]:
predict2 = grid.predict(test_x)

In [85]:
print(predict2)

[1 0 0 ... 0 1 0]

In [86]:
predict3 =xgbc.predict(test_x)

In [87]:
predict3

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [88]:
df3 = pd.DataFrame(predict3,columns = ['Response'])

In [89]:
df3

       Response
0             0
1             0
2             0
3             0
4             0
...         ...
21800         0
21801         0
21802         0
21803         0
21804         0

[21805 rows x 1 columns]

In [90]:
df1 = pd.DataFrame(predict,columns = ['Response'])

In [91]:
df1

       Response
0             1
1             0
2             1
3             1
4             0
...         ...
21800         0
21801         1
21802         0
21803         0
21804         1

[21805 rows x 1 columns]

In [92]:
#test_df.insert(9,"Response",predict3)

In [93]:
#columns1 = ["ID","Response"]

In [94]:
#submission = test_df[columns1]

In [95]:
## submission.to_csv('submission_file03.csv', index = False)

# XGBC

In [96]:
predict_xgbc = xgbc.predict(test_x)

In [97]:
df_xgbc = pd.DataFrame(predict_xgbc,columns = ['Response'])

In [98]:
df_xgbc.head()

   Response
0         0
1         0
2         0
3         0
4         0

In [99]:
test_df.insert(9,"Response",predict_xgbc)
columns1 = ["ID","Response"]
submission = test_df[columns1]
submission.to_csv('submission_xgbc.csv', index = False)